VITE_FIREBASE_API_KEY=AIzaSyCCqkmV15xLWZlfgLVSr7kGCuCjEj0vd4s
VITE_FIREBASE_AUTH_DOMAIN=banca-88851.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=banca-88851
VITE_FIREBASE_STORAGE_BUCKET=banca-88851.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=347692182041
VITE_FIREBASE_APP_ID=1:347692182041:web:7fe26af53754efc6729888
